h3 {
    font-size: 1.8rem;
    text-align: center;
   
    text-decoration: underline;
    margin-top: 20px;
}
dt {
    font-size: 1.2rem;
    font-weight: bold;
    color: darkslategray;
}
dl {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
body {
    background-color: aqua;
}
a {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}
a:hover {
    color: darkred;
}

/* Media Query for Smaller Screens */
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center; /* Center-align menu items */
    }
    .navbar-collapse {
        background-color: bisque; /* Match navbar background */
        padding: 10px; /* Add padding for spacing */
    }
    .nav-item {
        margin-bottom: 10px; /* Add spacing between items */
    }
}