table {
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    background-color: #f2f2f2;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

body {
    background-color: gray;
}

.table-responsive {
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    table {
        font-size: 1rem;
    }

    th, td {
        padding: 10px;
    }
}